:root {
  font-family: system-ui, sans-serif;
  background-color: #ffd4e2;
  color: #333;
  text-align: center;
  min-height: 100vh;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bunny-card {
  background-color: #f2dce3;
  border-radius: 15px;
  padding: 3rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #f7becd;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
